h2 {
  width: 40%;
  margin: auto;
}
mat-card {
  width: 20%;
  margin: auto;
}
mat-form-field,
textarea {
  width: 100%;
}
//label {
//  display: inline-block;
//  width: 3em;
//  margin: .5em 0;
//  color: #607D8B;
//  font-weight: bold;
//}
//input {
//  height: 2em;
//  font-size: 1em;
//  padding-left: .4em;
//}
