<h2>{{title}}</h2>

<mat-card>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">
    <mat-form-field>
      <label>
        First name:
        <label>
          <input matInput type="'text" formControlName="firstName">
        </label>
      </label>
    </mat-form-field>
    <mat-form-field>
      <label>
        Last name:
        <label>
          <input matInput type="'text" formControlName="lastName">
        </label>
      </label>
    </mat-form-field>
    <mat-form-field>
      <label>
        Email:
        <label>
          <input matInput type="'text" formControlName="email">
        </label>
      </label>
    </mat-form-field>
    <mat-form-field>
      <label>
        Password:
        <label>
          <input matInput type="text" formControlName="password">
        </label>
      </label>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Sign up</button>
  </form>
</mat-card>


