<h2>{{title}}</h2>

<mat-card>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">
    <mat-form-field>
      <label>
        Email:
        <label>
          <input matInput type="'text" formControlName="email">
        </label>
      </label>
    </mat-form-field>
    <mat-form-field>
      <label>
        Password:
        <label>
          <input matInput type="text" formControlName="password">
        </label>
      </label>
    </mat-form-field>
    <button mat-raised-button color="primary" routerLink="/userPage" type="submit" [disabled]="!userForm.valid">Log in</button>
  </form>
</mat-card>
