<div *ngIf="user">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{user.username}}</mat-card-title>
      <mat-card-subtitle>{{user.name}} {{user.surname}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgoJlwtSlx4RGwFanhRrwFPg-a-7wfTIOdp5j_55tlzDDQUGHvng&s" alt="Racer">
    <mat-card-content>
      <p>
        The {{user.username}} is one of the famous riders, who ready to sell your soul for win!
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="goBack()">Go back to Users</button>
     </mat-card-actions>
  </mat-card>
</div>





