<h2 >{{title}}</h2>

<mat-card>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <label>
        name:
        <label>
          <input matInput type="'text" formControlName="name">
        </label>
      </label>
    </mat-form-field>
    <mat-form-field>
      <label>
        surname:
        <label>
          <input matInput type="'text" formControlName="surname">
        </label>
      </label>
    </mat-form-field>
    <mat-form-field>
      <label>
        username:
        <label>
          <input matInput type="'text" formControlName="username">
        </label>
      </label>
    </mat-form-field>

    <button *ngIf="title == 'Update user'" mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Update</button>
    <button *ngIf="title == 'Create new user'" mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Submit</button>
      </form>
</mat-card>


