<h2 > Create new user</h2>

<mat-card>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <label>
        name:
        <label>
          <input matInput type="'text" formControlName="name">
        </label>
      </label>
    </mat-form-field>
    <mat-form-field>
      <label>
        surname:
        <label>
          <input matInput type="'text" formControlName="surname">
        </label>
      </label>
    </mat-form-field>
    <mat-form-field>
      <label>
        username:
        <label>
          <input matInput type="'text" formControlName="username">
        </label>
      </label>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Submit</button>
      </form>
</mat-card>


